.radius {
  border-radius: 5px;
}

.loading-col {
  position: relative;
}

.loading-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
}

.haifun {
  &::before {
    content: "- ";
  }

  &::after {
    content: " -";
  }
}

.font-gacha-result {
  font-size: 14px;

  @include mq(sm) {
    font-size: 16px;
  }
}
