.main-background {
  position: relative;
}

.main-background-content-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
}

.main-background-content {
  color: #333;
  font-size: 24px;
  @include mq(sm) {
    font-size: 30px;
  }
  background-color: rgba(#fff, 0.7);
  padding: 10px;
  border-radius: 10px;

  // span::before {
  //   content: "";
  //   display: inline-block;
  //   width: 50px;
  //   height: 50px;
  // }

  // span:first-child::before {
  //   background-image: url(/icon.png);
  //   background-size: contain;
  // }
}

.main-background-icon-container {
  position: relative;
}

.main-background-bottom {
  position: absolute;
  max-width: 500px;
  bottom: 0;
  margin: 0 !important;

  &-l {
    background: grey;
    color: #fff;
    padding: 10px !important;
  }

  &-r {
    background: rgba(#fff, 0.7);
    padding: 15px !important;
  }
}

main-background-icon {
  position: absolute;
  right: 0;
}

.header-heading {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 0 !important;
  @include mq(sm) {
    font-size: 30px;
  }
}

.header-subheading {
  font-size: 14px;
  color: #fff;

  @include mq(sm) {
    font-size: 20px;
  }
}

.app-bar {
  background-image: url("/header-background.png");
  background-size: cover;
}
