.main-background {
  position: relative;
  font-family: fot-klee-pro, sans-serif !important;
}

.main-background-content-container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
}

.main-background-content {
  padding: 10px;
  border-radius: 10px;
  color: #fff;

  font-size: 28px;
  font-weight: bold;

  @include mq(sm) {
    color: #333;
    background: rgba(#fff, 0.7);
  }
}

.main-background-icon-container {
  position: relative;
}

.main-background-bottom {
  position: absolute;
  max-width: 500px;
  bottom: 0;
  margin: 0 !important;

  &-l {
    background: grey;
    color: #fff;
    padding: 10px !important;
  }

  &-r {
    background: rgba(#fff, 0.7);
    padding: 15px !important;

    p {
      font-size: 0.9rem;
    }
  }
}

.header-heading {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 0 !important;
  @include mq(sm) {
    font-size: 30px;
  }
}

.header-subheading {
  font-size: 14px;
  color: #fff;

  @include mq(sm) {
    font-size: 20px;
  }
}

.app-bar {
  background-image: url("/header-background.png");
  background-size: cover;
  font-family: fot-klee-pro, sans-serif !important;
}
