.intro-background {
  max-width: 800px;
  background-color: #eee;
  border-radius: 8px;
  font-size: 0.9rem;
  font-family: fot-klee-pro, sans-serif !important;

  @include mq(sm) {
    font-size: 1rem;
  }
}

.tap-intro-content {
  font-weight: bold;
}

.tap-intro-content-detail {
  font-size: 1.1rem;

  @include mq(sm) {
    font-size: 1.5rem;
  }
}

.tap-intro-content-tap {
  font-size: 2rem;

  @include mq(sm) {
    font-size: 2.5rem;
  }
}

.index-gacha-intro {
  font-family: fot-klee-pro, sans-serif !important;

  &::before {
    content: "▲";
  }
}
